<div *ngIf="!service.showSettings" class="main">
     <!--Add here for non selection-->
     <!--style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;"-->
     <!--unselectable="on"-->
     <!--onselectstart="return false;"-->
     <!--onmousedown="return false;"-->


  <h2 class="title" align="center">{{data.name}}</h2>

  <app-player-login></app-player-login>

  <app-state-info></app-state-info>
  <app-session-log></app-session-log>
  <app-state-switchers></app-state-switchers>
  <app-games-grid [games]="games"></app-games-grid>
  <app-main-actions></app-main-actions>
  <br />
  <br />
  <button class="btn btn-default" (click)="service.showSettings = !service.showSettings">settings</button>
</div>

<div *ngIf="service.showSettings" class="settings">
    <app-settings>Load</app-settings>
</div>

<!--<div class="footer">-->
  <!--asdsadsadsadsad-->
<!--</div>-->
