input {
  text-transform: none !important;
}

.logo {
  padding-bottom: 5px;
  background-color: transparent;
}

h2.stg {
  margin-top: 0px !important;
}

label.stg {
  margin-top: 3px;
}

input.stg {
  margin-top: 6px;
}

.setting-row {
  border-bottom: 2px solid #464545;
  padding-top: 5px;
}
