<div class="row">
  <div class="col-md-2 col-sm-2 col-xs-2">
      <button class="btn btn-default" (click)="service.showSettings = !service.showSettings">back</button>
  </div>
  <div class="col-md-10 col-sm-10 col-xs-10">
      <h2 align="right" class="stg">Settings</h2>
  </div>
</div>

<!-- <div class="container"> -->
    <!-- <br /> -->

    <!-- <label class="stg">Steam ID</label> -->
    <!-- <input class="stg" type="text"> -->
        <!-- <br /> -->

        <!-- <label class="stg">Remote IP address</label> -->
    <!-- <input class="stg" type="text"> -->
<!-- </div> -->
<!-- <br /> -->

<div *ngFor="let game of gamesService.allGames">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4">
          <img class="logo" src={{game.logo_big}} onerror="this.src='./img/game_no_img.gif'" width="100%" height="150%" alt="">
        </div>

        <div class="col-md-8 col-sm-8 col-xs-8">
          <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-8">
              <label class="stg">{{game.name}}</label>
            </div>
            
            <div class="col-md-4 col-sm-4 col-xs-4">
              <button class="btn btn-default"
                  [ngClass]="{'selected': game.hidden}"
                  (click)="toggleHidden(game)">hide</button>
            </div>
          </div>          
          <input class="stg" type="text" [(ngModel)]="game.app" (ngModelChange)="save(game, $event)" name="app">
        </div>
        

    </div>

</div>
