<div class="actions">
  <div class="row">
    <table>
      <tr>
        <td>
          <button class="btn btn-img" id="steam"
                  (click)="steam()">
            <img class="right-bottom-img" src="./img/reload-icon-hi copy.png" alt="">
          </button>
        </td>
        <td>
          <button class="btn btn-img" id="vr"
                  (click)="vr()">
            <img class="right-bottom-img" src="./img/reload-icon-hi copy.png" alt="">
          </button>
        </td>
        <td>
          <button class="btn btn-img" id="music"
                  (click)="music()">
            <img class="right-bottom-img" src="./img/pause.png" alt="">
          </button>
        </td>
        <td>
          <button class="btn btn-img" id="video"
                  (click)="video()">
            <img class="right-bottom-img" src="./img/pause.png" alt="">
          </button>
        </td>
        <td width="100%"></td>
        <td>
           <button (click)="gg()" id="gg" class="btn btn-img">{{session.current.state | ggTitle}}</button>
        </td>
      </tr>
    </table>
    <div class="col-xs-8 left no-padding">
    </div>

    <div class="col-xs-4 right no-padding">
    </div>
  </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
              <button 
              class="btn btn-default" 
              [ngClass]="{'selected': session.adminMode}"
              (click)="adminModeToggle()">
              Admin Mode</button>
    </div>
    <div class="col-md-3">
              <button class="btn btn-default" (click)="fullScreen()">Full Screen</button>
    </div>
    <div class="col-md-3">
              <button class="btn btn-default" (click)="killAll()">Kill All</button>
    </div>
    <div class="col-md-3">
              <button class="btn btn-default" (click)="service.showSettings = !service.showSettings">settings</button>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-3">
              <button 
              class="btn btn-default" 
              (click)="sendKeys('{ENTER}')">Enter</button>
    </div>
    <div class="col-md-3">
              <button class="btn btn-default" (click)="sendKeys('!{TAB}')">Alt+Tab</button>
    </div>
    <div class="col-md-3">
              <button class="btn btn-default" (click)="sendKeys('{ENTER}')">Click</button>
    </div>
    <div class="col-md-3">
              <button class="btn btn-default" (click)="sendKeys('%23{UP}')">cmd+Up</button>
    </div>
</div>