<div class="actions">
  <div class="row">

    <div class="col-xs-8 left">
      <button class="btn btn-img" id="steam"
              (click)="remote.restartSteam()">
        <img class="right-bottom-img" src="./img/reload-icon-hi copy.png" alt="">
      </button>
      <button class="btn btn-img" id="vr">
        <img class="right-bottom-img" src="./img/reload-icon-hi copy.png" alt="">
      </button>
      <button class="btn btn-img" id="music">
        <img class="right-bottom-img" src="./img/pause.png" alt="">
      </button>
      <button class="btn btn-img" id="video">
        <img class="right-bottom-img" src="./img/pause.png" alt="">
      </button>
    </div>

    <div class="col-xs-4 right">
      <button class="btn btn-img"
              id="gg"
              (click)="gg()"
      >Stop session!</button>
    </div>
  </div>
</div>
